body {
    margin: 0;
    background-color: #28282B;
    font-family: "Press Start 2P", system-ui;
    color: whitesmoke;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#message {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px magenta;
}

#attempt {
    font-size: 1.5rem;
    margin-bottom: 100px;
}

#restart {
    font-size: 1rem;
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 50px;
    box-shadow: whitesmoke 2px 2px;
    cursor: pointer;
}

#restart:hover {
    color: magenta;
}

/* RESPONSIVE */
/* TABLET SIZE (768px) */
@media only screen and (max-width: 48em) {
    #message {
        font-size: 2rem;
    }

    #attempt {
        font-size: 1.25rem;
    }

    #restart {
        font-size: 0.75rem;
    }
}

/* MOBILE SIZE (600px) */
@media only screen and (max-width: 37.5em) {
    #message {
        font-size: 1rem;
        margin-bottom: 25px;
    }

    #attempt {
        font-size: 0.6rem;
        margin-bottom: 50px;
    }

    #restart {
        font-size: 0.5rem;
    }
}